/********************
YOUR STYLES
*******************/
* {
    box-sizing: border-box;
}
container {
    
}
/* Header */
header {
  display:grid;
  justify-content:flex-start;
  margin-left:2px;
}
h4{
    margin-bottom: -1em;
}
header p {
    margin-bottom: -1em;
}

/* Gallery Styling */
.gallery {
    display: flex;   
    flex-wrap: wrap;
    justify-content: center;
}

figure {
  background: #eee;
  display: flex;
  justify-content: space-between;
  padding: 1em;
  width: 25em;
}
figcaption {
    margin:2px;
}
.lg-backdrop {
    background: RGBA(0,0,0,.9);
}
.lg-img {
    box-shadow: 5px 5px 100px #FFF;
}


/********************
MEDIA QUERIES
*******************/
/* Mobile: 320px = 20em */
@media screen and (max-width: 24em) { 

    .gallery {
        flex-direction: column;
    }
    figure {
        width:100%;
        display:block;
    }
}

/* Tablet:  768px = 160em */
@media screen and (max-width: 48em)  {


}

/* Desktop: 1280px = 80em */
@media screen and (min-width: 80em) { 
  

}